streamlit
requests
pandas
arxiv
sentence-transformers
numpy
pymupdf
langchain-text-splitters
cloudscraper
beautifulsoup4
lxml
tiktoken
curl_cffi
python-slugify
faiss-cpu
scikit-learn
umap-learn
hdbscan
bertopic
google-generativeai
sentencepiece
accelerate
pymupdf4llm
rank_bm25
torch
transformers
